.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0,0.2);
}


.css-ib4nz1-MuiGrid-root{
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('https://img3.wallspic.com/previews/0/5/9/8/88950/88950-luz-paisaje_urbano-ciudad_capital-noche-hito-x750.jpg');
}